{%extends 'base.html'%}
{%block section%}

    <div class="filter">
        <h3><a  href='{% url "shop:product_list" %}' style="color:#658E08;">Все</a></h3>
        <h3><a  href='{% url "shop:product_type" "earring" %}' style="color:#658E08;">Серьги</a></h3>
        <h3><a href='{% url "shop:product_type" "necklace" %}' style="color:#658E08;">Кулоны</a></h3>
        <h3><a href='{% url "shop:product_type" "badge" %}' style="color:#658E08;">Значки</a></h3>
    </div>
    <section id="secondgallery" class="tm-section">
        <header><h2 class="tm-blue-text tm-section-title tm-margin-b-30"></h2></header>
        <div class="secondgallery-list tm-gallery-container tm-gallery-1">
    {%for product in products%}
        
        <div class="list-item tm-img-container-1" >
            <a href="{% url 'shop:product_detail' product.pk%}">
            <img src='../../media/{{product.image}}' class="list-item-img img-fluid tm-img-tn" width="250" height="200"></a>
            <p> <a href="{%url 'shop:like' product.pk %}" style="color:#658E08;"><p><i onclick="myFunction(this)" class="fa fa-thumbs-up"></i></a> {{product.likes_number}}
          
        </div>
       
    {%endfor%}
    </div>
    </section>
    <section>
    {% include 'pagination.html' with page=products %}
    </section>
{%endblock%}