{%extends 'base.html'%}
{%block section%}

<h1>{{ product.name }}</h1>
<img src='../../media/{{product.image}}' width="200" height="140"></a>
    <p>{{product.description}}</p>
    <p>{{product.price}} сом</p> 
    
    <a style="color:#658E08;" href="{%url 'shop:like' product.pk %}"><p><i onclick="myFunction(this)" class="fa fa-thumbs-up"></i></a> {{product.likes_number}}</p>
    <!-- <a href="{%url 'shop:like' product.pk  %}"><p><i onclick="myFunction(this)" class="fa fa-thumbs-down"></i></a> </p> -->
  
<section class="tm-section">
    <a href="{% url 'shop:add_to_cart' product.pk%}"><input type="button" value="Добавить в корзину"></a>
</section>

    <section class="tm-section">
    {% with comments.count as total_comments %}
        <h2>{{ total_comments }} комментариев </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class='comment'>
            <p class='info'>
                {{ comment.name }}
                {{ comment.created }}:
            </p>
        {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>Нет комментариев</p>
    {% endfor %}
    
        <h2>Добавить новый комментарий</h2>
        <form method='post'>
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type='submit' value='Добавить'></p>
        </form>
    </section>
{%endblock%}